[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = chocolatey packages
[access "refs/*"]
	owner = group user/dominicusin (dominicusin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dominicusin (dominicusin)
	label-Verified = -1..+1 group user/dominicusin (dominicusin)
	push = group user/dominicusin (dominicusin)
	read = group user/dominicusin (dominicusin)
	rebase = group user/dominicusin (dominicusin)
	removeReviewer = group user/dominicusin (dominicusin)
	submit = group user/dominicusin (dominicusin)
[access "refs/heads/*"]
	create = group user/dominicusin (dominicusin)
	push = +force group user/dominicusin (dominicusin)
	pushMerge = group user/dominicusin (dominicusin)
	read = group user/dominicusin (dominicusin)
[access "refs/tags/*"]
	push = group user/dominicusin (dominicusin)
	push = +force group user/dominicusin (dominicusin)
